.sidebar{
    background-color: #2c4047;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    color:white;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidebarc{
    background-color: #2c4047;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 400px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    color:white;
}
.sidebarc .header-row {
    display: flex;
    height: 50px;
    background: var(--dark-blue);
    margin-bottom: 15px;
}

.other-icons{
    display: flex;
    flex-direction: column;
    margin: 30px;
}
.other-icons i{
    size: 30px;
    margin: 20px;
}

table, th {
    border: 1px solid;
  }

table{
    display: flex;
    flex-direction: column;

}
