.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 10pt;
  

}

.home h2{
  margin-left: 150pt;
}

.searchClass{
  margin-left: 150pt;
  display: flex;
  flex-direction: row;
}


