.product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 14pt;
    background-color: white;
}
.product img{
    padding-bottom: 20pt;
    width: 150pt;
    height: 150pt;
    border-radius: 5%;

}
.product p{
    padding-left: 4pt;
}

.plusandminus{
    display: flex;
    flex-direction: row;
}

.nameandplusandminus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
